In [1]:
import cv2
from matplotlib import pyplot as plt
from skimage import exposure,util
import pandas as pd
import numpy as np
import seaborn as sns
from pandas_profiling import ProfileReport
sns.set(color_codes=True)
%matplotlib auto

Using matplotlib backend: TkAgg

In [2]:
df1 = pd.read_pickle("C:/Users/juanr/Documents/data_mediciones/defects/defectsAZUL_df.pkl")
df2 = pd.read_pickle("C:/Users/juanr/Documents/data_mediciones/defects/defectsVERDE_df.pkl")
df3 = pd.read_pickle("C:/Users/juanr/Documents/data_mediciones/defects/defectsPANC_df.pkl")
df4 = pd.read_pickle("C:/Users/juanr/Documents/data_mediciones/defects/defectsROJA_df.pkl")
df5 = pd.read_pickle("C:/Users/juanr/Documents/data_mediciones/defects/defectsNIR_df.pkl")
df = pd.concat([df1, df2, df3,df4,df5], ignore_index=True)
df.info(),df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12674 entries, 0 to 12673
Data columns (total 5 columns):
equivalent_diameter    12674 non-null float64
area                   12674 non-null float64
error_diameter         9043 non-null float64
error_area             9043 non-null float64
img                    12674 non-null int64
dtypes: float64(4), int64(1)
memory usage: 495.2 KB

(None, (12674, 5))

In [3]:
df.describe()

,equivalent_diameter,area,error_diameter,error_area,img
count,12674.000000,12674.000000,9043.000000,9043.000000,12674.000000
mean,5.001499,30.662932,2.401084,34.838439,74.803377
std,3.770742,99.736845,4.424528,137.023700,45.489401
min,3.000000,5.000000,0.000000,0.000000,0.000000
25%,3.000000,8.000000,0.000000,3.000000,37.000000
50%,4.000000,12.000000,1.000000,7.000000,72.000000
75%,5.000000,23.000000,2.000000,19.000000,112.000000
max,81.000000,5174.000000,76.000000,5156.000000,162.000000

In [4]:
imgs = df.groupby('img').apply(lambda group: group.iloc[0:])
imgs

          equivalent_diameter  area  error_diameter  error_area  img
img
0   0                     4.0  15.0             1.0         8.0    0
    1                     3.0   7.0             1.0         4.0    0
    2                     3.0   6.0             0.0         1.0    0
    3                     3.0   5.0             1.0         4.0    0
    4                     5.0  16.0             4.0        37.0    0
...                       ...   ...             ...         ...  ...
162 5438                  6.0  24.0             0.0         2.0  162
    5439                  3.0   5.0             0.0         1.0  162
    5440                  3.0   8.0             2.0        11.0  162
    5441                  5.0  22.0             3.0        17.0  162
    5442                  3.0   6.0             NaN         NaN  162

[12674 rows x 5 columns]

In [5]:
df.sum(axis = 0)

equivalent_diameter     63389.0
area                   388622.0
error_diameter          21713.0
error_area             315044.0
img                    948058.0
dtype: float64

In [ ]:
sns.distplot(df['equivalent_diameter'], kde=True, color='Blue', bins=50)

In [10]:
df['equivalent_diameter'].median()

4.0